<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyShell.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0653D235DC8071EC65EE911190358AA98B39A55E</string>
				<key>dateExpires</key>
				<string>2024/2/3</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>5.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0653D235DC8071EC65EE911190358AA98B39A55E</string>
						<key>dateExpires</key>
						<string>2024/2/3</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ffmpegkit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7AN5559J3</string>
						<key>name</key>
						<string>Gen Lin</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>59.37.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0653D235DC8071EC65EE911190358AA98B39A55E</string>
						<key>dateExpires</key>
						<string>2024/2/3</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavcodec.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7AN5559J3</string>
						<key>name</key>
						<string>Gen Lin</string>
					</dict>
					<key>versionNumber</key>
					<string>59.37.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>59.7.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0653D235DC8071EC65EE911190358AA98B39A55E</string>
						<key>dateExpires</key>
						<string>2024/2/3</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavdevice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7AN5559J3</string>
						<key>name</key>
						<string>Gen Lin</string>
					</dict>
					<key>versionNumber</key>
					<string>59.7.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8.44.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0653D235DC8071EC65EE911190358AA98B39A55E</string>
						<key>dateExpires</key>
						<string>2024/2/3</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavfilter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7AN5559J3</string>
						<key>name</key>
						<string>Gen Lin</string>
					</dict>
					<key>versionNumber</key>
					<string>8.44.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>59.27.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0653D235DC8071EC65EE911190358AA98B39A55E</string>
						<key>dateExpires</key>
						<string>2024/2/3</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavformat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7AN5559J3</string>
						<key>name</key>
						<string>Gen Lin</string>
					</dict>
					<key>versionNumber</key>
					<string>59.27.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>57.28.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0653D235DC8071EC65EE911190358AA98B39A55E</string>
						<key>dateExpires</key>
						<string>2024/2/3</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavutil.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7AN5559J3</string>
						<key>name</key>
						<string>Gen Lin</string>
					</dict>
					<key>versionNumber</key>
					<string>57.28.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4.7.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0653D235DC8071EC65EE911190358AA98B39A55E</string>
						<key>dateExpires</key>
						<string>2024/2/3</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libswresample.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7AN5559J3</string>
						<key>name</key>
						<string>Gen Lin</string>
					</dict>
					<key>versionNumber</key>
					<string>4.7.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.7.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0653D235DC8071EC65EE911190358AA98B39A55E</string>
						<key>dateExpires</key>
						<string>2024/2/3</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libswscale.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7AN5559J3</string>
						<key>name</key>
						<string>Gen Lin</string>
					</dict>
					<key>versionNumber</key>
					<string>6.7.100</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z7AN5559J3.ai.myshell.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>pn6b6a232e-973a-405c-969a-a546189fda16</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Z7AN5559J3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MyShell.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fe190608-f734-4439-a838-b304240266b0</string>
				<key>dateExpires</key>
				<string>2024/5/1</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ai.myshell.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z7AN5559J3</string>
				<key>name</key>
				<string>Gen Lin</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
