<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>c9aa126d-8db2-45cc-8898-60e3a69d5050</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>cOyQSJfazQ5zu32GwvW7AvBz0f7q0RWUIULWMZhk</string>
	<key>PROJECT_APP_UUID</key>
	<string>6b6a232e-973a-405c-969a-a546189fda16</string>
</dict>
</plist>
