<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>c135c555-a871-4ec2-ac8c-5209ded4bfd1</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>clAJtavacSBZtWHNVrxYA8aXXk4dgO7azAMTd0eI</string>
	<key>PROJECT_APP_UUID</key>
	<string>564dc005-2f20-40a1-8082-c8634cdafd0b</string>
</dict>
</plist>
